.fish-layout-content {
  position: relative;

  > #dep-graph {
    height: 100%;
    width: 100%;
  }

  .fish-alert {
    position: absolute;
    z-index: 99;
    width: 100%;

    .fish-alert-message {
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
